# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.planning/logs/

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.claude/worktrees/
public/images/hogamba/Bili-Mushroom-installer.zip
public/images/hogamba/Bili-Mushroom-installer/nsis/Bili Mushroom_0.1.5_x64-setup.exe
public/images/site/Bili.Mushroom_0.1.1_x64-setup.exe
public/images/site/ChatArenaGrouped.svg
public/images/site/Gamio web.zip
public/images/hogamba/Bili.Mushroom_0.1.5_x64-setup.exe
